<<<<<<< HEAD
@{
    Layout = "_Layout";  // use the shared layout instead of _ClientLayout
}

=======
>>>>>>> 890d4ccb7a3d932f7576840c06bccce8e729f859
<h1>Airline Dashboard</h1>
<p>Welcome to the Airline Dashboard!</p>