@{
    ViewData["Title"] = "Search Flights";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Search Flights</h1>
            
        </div>
    </div>
</div>