@{
<<<<<<< HEAD
    ViewData["Title"] = "Home Page";
}

<div class="text-center user-dashboard">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
=======
    Layout = "_Layout";  // use the shared layout instead of _ClientLayout
}

<h1>Client Dashboard</h1>
<p>Welcome to the Client Dashboard!</p>
>>>>>>> cd2ce3cfe5472f433741ae167933c3f4f5fea2ce
