@{
    ViewData["Title"] = "Airline Dashboard";
}
<<<<<<< HEAD
<div class="airline-dashboard">

<h1>Airline Dashboard</h1>
<p>Welcome to the Airline Management Portal.</p>
</div>
=======

<h1>Airline Dashboard</h1>
<p>Welcome to the Airline Management Portal.</p>
>>>>>>> cd2ce3cfe5472f433741ae167933c3f4f5fea2ce
